[submodule "components/lib/gui-framework"]
	path = components/lib/gui-framework
	url = https://gitlab.com/g2o/scripts/gui-framework.git
[submodule "components/lib/tween.nut"]
	path = components/lib/tween.nut
	url = https://gitlab.com/g2o/scripts/tween.nut.git
[submodule "components/lib/bpackets"]
	path = components/lib/bpackets
	url = https://gitlab.com/bcore1/bpackets.git
[submodule "ultima/lib/becs"]
	path = ultima/lib/becs
	url = https://gitlab.com/bcore1/becs.git
